body {
    margin: 0;
    background-color: #1b244a;
    color: white;
}

.container {
    display: flex;
    margin: 10px;        
    text-align: center;
    justify-content: space-around;    
}

.score {
    font-family: "Cursed Timer ULiL";
    font-size: x-large;
    padding: 5px 5px 5px 5px;
    background-color: black;
    color: #f94f6d;
}